<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253307138634-f81p4s7dcebjhrcik26n801o3r8tqom6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253307138634-f81p4s7dcebjhrcik26n801o3r8tqom6</string>
	<key>API_KEY</key>
	<string>AIzaSyCxGxpoKPHo31saT4rIeg_uhxS_k5_JyVo</string>
	<key>GCM_SENDER_ID</key>
	<string>253307138634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>firstflutterapp-9b91a</string>
	<key>STORAGE_BUCKET</key>
	<string>firstflutterapp-9b91a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253307138634:ios:3fa3e501cf887152a6ecb3</string>
</dict>
</plist>